    @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto');
   

    /*================reset=================================*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    * {
        box-sizing: border-box;
        outline: none;
    }
    /*======================================================*/
    
    body {
        font-family: 'Raleway', sans-serif;
    }
    
    .center {
        max-width: 1200px;
        margin: 0 auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    a:hover {
        text-decoration: none;
        color: unset;
    }
    
    .title {
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
        color: #555;
        margin: 0 0 16px;
    }
    
    .item-description {
        font-family: 'Montserrat', sans-serif;
        color: #8c8c8c;
        letter-spacing: 0.4px;
    }
    
    img {
        vertical-align: bottom;
    }
    /*================Video Section=====================*/
    
    .video-section {
        position: relative;
    }
    
    .video-section {
        background: url(../img/video_poster.jpg) no-repeat;
        background-size: cover;
    }
    
    .video-section .container-fluid {
        min-height: 705px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
    }
    
    .video-section .video-play {
        margin-bottom: 3%;
    }
    
    .video-section .title {
        color: #fff;
        font-size: 30px;
        line-height: 34px;
        font-weight: 500;
        margin: 0 0 2%;
    }
    
    .video-section .item-description {
        color: #fff;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        letter-spacing: .8px;
        margin-bottom: 2%;
    }
    
    .video-section .video-time {
        font-family: 'Montserrat', sans-serif;
        color: #c7b299;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .input_wrapp {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 5px 5px;
        font-size: 24px;
        line-height: 30px;
    }
    
    .input_wrapp div {
        padding: 10px;
        margin: 0 5px 5px 0;
    }
    
    #set_url {
        font-weight: bold;
        background: rgb(0, 255, 255);
        text-transform: uppercase;
        cursor: pointer;
        padding: 10px;
        margin: 0 5px 5px 0;
        border-radius: 18px;
        color: black;
        position: relative;
    }


    #set_url:active{
        box-shadow: inset 0px 0px 3px 0px #3b2c27;
    }

    #set_url::before{
        content: '\f00c';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: rgb(7, 255, 7);
        position: absolute;
        left: 110%;
        display: inline-block;
        vertical-align: top;
        opacity: 0;
        transition: 0.3s;
    }
    #set_url.success::before{
        opacity: 1;
    }
    
    #url {
        width: 300px;
        min-height: 50px;
        margin: 0 5px 5px 0;
        padding: 4px;
        box-shadow: inset 1px 1px 1px 1px #3b2c27;
        border-radius: 18px;
    }
    
    #url::placeholder{
        text-align: center;
    }
    #play_video{
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: 0.2s;
    }
    #play_video.visible{
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    } 
